<%-include("header")-%>

<h1 style="color: purple;">This is our About Us Page.</h1>
<p>This is the todolist website created by Badshah Aamir in the year 2023 december. </p>

<%-include("footer")-%>